[submodule "blender-arwaky"]
	path = blender-arwaky
	url = https://github.com/rakaarwaky/blender-arwaky.git
[submodule "cloudmail-arwaky"]
	path = cloudmail-arwaky
	url = https://github.com/rakaarwaky/cloudmail-arwaky.git
[submodule "contex7-arwaky"]
	path = contex7-arwaky
	url = https://github.com/rakaarwaky/contex7-arwaky.git
[submodule "fetch-arwaky"]
	path = fetch-arwaky
	url = https://github.com/rakaarwaky/fetch-arwaky.git
[submodule "lint-arwaky"]
	path = lint-arwaky
	url = https://github.com/rakaarwaky/lint-arwaky.git
[submodule "testing-arwaky"]
	path = testing-arwaky
	url = https://github.com/rakaarwaky/testing-arwaky.git
[submodule "vision-arwaky"]
	path = vision-arwaky
	url = https://github.com/rakaarwaky/vision-arwaky.git
[submodule "lean-arwaky"]
	path = lean-arwaky
	url = https://github.com/rakaarwaky/lean-arwaky.git
[submodule "ponytail-arwaky"]
	path = ponytail-arwaky
	url = https://github.com/rakaarwaky/ponytail-arwaky.git
[submodule "codegraph-arwaky"]
	path = codegraph-arwaky
	url = https://github.com/rakaarwaky/codegraph-arwaky.git
[submodule "qwen-web-arwaky"]
	path = qwen-web-arwaky
	url = https://github.com/rakaarwaky/qwen-web.git
[submodule "graphify-arwaky"]
	path = graphify-arwaky
	url = https://github.com/rakaarwaky/graphify-arwaky.git

[submodule "anytype-arwaky/anytype-mcp"]
	path = anytype-arwaky/anytype-mcp
	url = https://github.com/anyproto/anytype-mcp.git
